.AvatarContainer {
    display: inline-block;
    position: relative;
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin: calc(var(--avatar-size) * 0.125);
}

.Avatar,
.Decoration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Avatar {
    border-radius: 50%;
}

.Decoration {
    max-width: none !important;
}

// --------

.Role {
    font-weight: 400;
    line-height: 100%;

    &.Tag {
        padding: 2px 4px;
        border-radius: 4px;
    }

    &.SizeSm {
        font-size: 14px;
    }

    &.SizeMd {
        font-size: 16px;
    }
}

// --------

.Username {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

// --------

.Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.CardText {
    display: flex;
    flex-direction: column;
}