@use '@/mixins/container.scss' as *;

.Container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 100px;

    @include container;
}

// ----------
.List {
    position: sticky;
    top: 16px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Separator {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.ListItem {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #ececec;
    border: solid 1px transparent;
    cursor: pointer;

    &:hover {
        background-color: #dcdcdc;
    }

    &.Selected {
        background-color: #e3e3e3;
        border: solid 1px #bababa;
    }
}

// ----------

.RoleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.Loading {
        opacity: 0.5;
    }
}

.RoleInfoName {
    display: flex;
    flex-direction: row;
    gap: 16px;

    input {
        border: none;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 20px;
        padding: 6px 12px;
        border-radius: 6px;
        outline: none;
    }

    input:invalid {
        outline: solid 1px red;
    }
}

.RoleInfoColor {
    display: flex;
    flex-direction: row;
    gap: 16px;

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}