@use '@/mixins/container.scss' as *;

.Container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 100px;

    @include container;
}

// ----------

.Sidebar {
    width: 250px;
    height: 500px;
}

.List {
    position: sticky;
    top: 16px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Separator {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.ListItem {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #ececec;
    border: solid 1px transparent;
    cursor: pointer;

    &:hover {
        background-color: #dcdcdc;
    }

    &.Selected {
        background-color: #e3e3e3;
        border: solid 1px #bababa;
    }
}

// ----------

.Content {
    flex: 1;
}