@font-face {
    font-family: 'm6x11';
    src: url('/fonts/m6x11plus.ttf') format('truetype');
}

:root {
    --font-m6x11: 'm6x11', sans-serif;
    --font-balatro: var(--font-m6x11);
}

html,
body {
    overflow-x: hidden;
}