@use '@/mixins/container' as *;

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #1f1f1fd0;
    color: #fff;
    padding: 20px 24px;
    border-bottom: #cfcfcf solid 1px;
}

.Container {
    display: flex;
    justify-content: space-between;
    @include container;
}

.Left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}