.Content {
    background-color: #131313;
    border: 1px solid #2c2c2c;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
}

.Arrow {
    fill: #131313;
    stroke: #2c2c2c;
    stroke-width: 1px;
}